<nav id="nav-admin" class="nav">
    <div class="block">
        <span>labels</span>
        <a class="link" href="/labels/admin" title="manage labels">
            <i class="fas fa-list-ul"></i>
        </a>
        <a class="link" href="/labels/create" title="create new label">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="block">
        <span>styles</span>
        <a class="link" href="/styles/admin" title="manage styles">
            <i class="fas fa-list-ul"></i>
        </a>
        <a class="link" href="/styles/create" title="manage styles">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</nav>