<h1 class="title">Home</h1>
<h2 class="title">Setup</h2>
<p>
    <b>Git pull</b> the course repo.<br>
    Copy the folder <b>module-2/week-2/artistify-workshop</b>...<br>
    Paste it to another location of you choice (outside the course repo).<br>
    Then, <b>npm install</b> to fetch the new dependencies.<br>
    Add a .gitignore and a .env.<br>
    Ignore .env and node_modules/
</p>
<hr>
<h2 class="title">Cloudinary</h2>
<p>
    Create a free <a class="link" href="https://cloudinary.com/" target="_blank">Cloudinary</a> account.<br>
    Use the provided informations to fill the related keys in .env as described below :
</p>
<hr>
<h2 class="title">.env config</h2>
<code>
        PORT = 9999<br>
        MONGO_URI = mongodb://localhost/artistify<br>
        SESSION_SECRET = tKS3cr3t_is_?9_A_LongSringHaä4rdTOCrackj*<br>
        CLOUDINARY_NAME = ????<br>
        CLOUDINARY_KEY = ????<br>
        CLOUDINARY_SECRET = ????
    </code>
<hr>
<h3 class="title">Cloudinary</h3>
<p>
    Take a moment to explore the project's file/folder structure.<br>
    <b>What's new ?</b>
</p>
<hr>
<h3 class="title">Bonus D.I.Y Todos</h3>
<ul>
    <li>Install a cool slider/carousel plugin for the homepage</li>
</ul>